body {
    background-color: #1b2022;
}

#container {
    width: 512px;
    margin: 50px auto;
    text-align: center;
    color: white;
}

#canvas {
    background-color: aliceblue;
    border: 2px solid black;
}
