body {
    background-color: #121415;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    margin: auto;
}

#myCanvas {
    background: url(grid.png) repeat;
}