body {
    background-color: #060808;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: white;
}

.container {
    margin: auto;
}

#myCanvas {
    background: url(grid.png) repeat;
}