body {
	background-color: #121415;
}

.container {
    width: 800PX;
    margin: auto;
    
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#canvas {
    background-image: url(grid.png);
}