body {
    background-color: #121415;
    color: #fff;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 800px;
    margin: auto;
}

#canvas {
    background-color: #fff;
}

input {
    margin: 10px;
}