body {
    background-color: #171a1a;
    color: #fff;
    
    text-align: center;
}

.container {
    width: 800px;
    margin: auto;
}

#canvas {
    background-color: #fff;
}

input {
    margin: 10px;
}