body {
    background-color: #121415;
    color: white;
    
    text-align: center;
}

h1{
	text-align:center;
    font-family: 'Roboto', sans-serif;
}

canvas{
	display:block;
	margin:auto;
	background-color:aliceblue;
}

#myTime{
	width:500px;
	display:block;
	margin:auto;
	font-size:36px;
	text-align:center;
    font-family: 'Roboto', sans-serif;
	font-weight:700;
}
