body {
    background-color: #121415;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 800px;
    margin: auto;
}

#canvas {
    background-color: white;
    border: 2px solid black;
}